<h1 mat-dialog-title>About App</h1>
<div mat-dialog-content>
    Demo Material Requirements Planning (MRP) Angular 8 web app developed by Daniel Puckowski.
    <table class="table table-striped table-responsive table-modal">
        <tbody>
            <tr>
                <th>Technologies used</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>Angular Framework</td>
                <td>Angular Ivy</td>
                <td>AWS Lambda</td>
                <td>Angular Plotly</td>
            </tr>
            <tr>
                <td>AWS RDS</td>
                <td>AWS S3</td>
                <td>Angular Material</td>
                <td>SCSS</td>
            </tr>
            <tr>
                <td>TypeScript</td>
                <td>JavaScript</td>
                <td>HTML</td>
                <td>JSON</td>
            </tr>
            <tr>
                <td>RxJS</td>
                <td>Sequelize</td>
                <td>Node.js</td>
                <td>Serverless Framework</td>
            </tr>
            <tr>
                <td>Git</td>
                <td>MySQL</td>
                <td>Bootstrap</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="performCloseAction()" aria-label="Close">Close</button>
</div>
