Post a new note:

<div class="no-gutters">
    <div class="col-md-6">
        <section>
            <mat-form-field class="full-width">
                <input matInput [(ngModel)]="plannerName" placeholder="Name" maxlength="20" required>
            </mat-form-field>
        </section>

        <section>
            <mat-form-field class="full-width">
                <textarea #commentInput matInput placeholder="Note" [formControl]="noteFormControl">
                </textarea>
                <mat-hint class="mat-hint-align-right">{{commentInput.value?.length || 0}}/{{getMaxCommentLength()}}</mat-hint>
            </mat-form-field>
        </section>

        <button mat-raised-button color="primary" (click)="performPostNoteAction()">Post Note</button>

        <div *ngIf="hasErrorMessage()" class="text-error text-with-icon"><mat-icon class="icon-aligned">error</mat-icon> {{getErrorMessage()}}</div>
    </div>
</div>
